body {
    background-color: black;
    margin: 0;
}

#startInfo {
    color: wheat;
}

#screen {
    /* make it as the hight of the body */
    height: 100vh;

    /* center it */
    display: block;
    margin: auto;

    /* make it more sharp */
    image-rendering: pixelated;
}